
.Portfolio{
    font-weight: bolder;
    letter-spacing: 2px;
    font-size: 2.5rem;
    color: rgb(30,26,85);
    initial-letter: red;
}

.Portfolio::first-letter{
    font-size: 3.5rem;
}

.navbar{
    height: 12%;
    display: flex;     
    justify-content: space-between; 
}


/* nav{
    flex: 1;
    text-align: right;
} */

.navbar ul li {
    list-style: none;
    display: inline-block;
    padding: 1rem;  
    margin-top: 0.3%;  
}

.navbar ul li a{
    cursor: pointer;    
}


a{    
    text-decoration: none;
    font-weight: bold;
    font-size: large;
    color: rgb(30,26,85);
    letter-spacing: 0.1rem;
}

ul .exp{
    display: block;
}

a:hover{
    text-decoration: underline;  
}
/* 
@media  (max-width:885){
    .navbar{
        display: flex;
        flex-flow: row;
        background-color: red;
        height: 3rem;
        width: 1rem;
    }
    ul li{
        background-color: red;
    }
} */


@media  (max-width:885px){
 
    .navbar{
        flex-flow: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 2rem;
    }
    
     .navbar ul li{
        display: flex; 
        align-items: center;
    }
   
} 