<div class="container">    
    <div class="navbar">
        <div class="logo"></div>
        <nav  id="navmedia" >
            <ul>
                <li class="Listitems"><a href="navmedia">Home</a></li>
                <li class="Listitems"><a href="#about">About</a></li>
                <li class="Listitems"><a href="#skills">Skills</a></li>
                <li class="Listitems"><a href="#contact">Contact</a></li>
                <li class="Listitems"><a href="#Experiance">Experiance</a></li>
                <button class="btn"> Resume</button>
            </ul>
        </nav>        
       <div id="Menu" (click)="OnMenuClick()"></div>
    </div>
</div>