<div class="container">    
    <div class="navbar">
        <div class="logo"></div>
        <nav  id="navmedia" >
            <ul>
                <li class="Listitems"><a>Home</a></li>
                <li class="Listitems"><a>About</a></li>
                <li class="Listitems"><a>Skills</a></li>
                <li class="Listitems"><a>Contact</a></li>
                <button class="btn">Resume</button>
            </ul>
        </nav>        
       <div id="Menu" (click)="OnMenuClick()"></div>
    </div>
</div>