html{
    scroll-behavior: smooth;
}

.logo
{
    background-image: url("./HeaderImages/R-Logo.jpg");
    height: 90px;
    width: 70px;
    background-repeat: no-repeat;    
    background-size: contain;
    cursor: pointer;
}

.navbar{
    height: 12%;
    display: flex;    
    align-items: center;    
}


nav{
    flex: 1;
    text-align: right;
}

.navbar ul li {
    list-style: none;
    display: inline-block;
    padding: 1rem;  
    margin-top: 0.3%;  
}

.navbar ul li a{
    cursor: pointer;    
}

.btn{
    padding : 1rem;
    border-radius: 15px;
    background-color:rgb(126,127,216);
    color: white; 
    font-weight: bold;
    border: none;
    letter-spacing: 3px;
    box-shadow:  0 4px 8px 0 rgba(52, 194, 199, 0.318), 0 6px 20px 0 rgba(0, 0, 0, 0.059);
    cursor: pointer;
}

.btn:hover{
    color: rgb(126,127,216);
    background-color: white;
    transition: 0.4s;
}

#Menu{
    background-image: url(./HeaderImages/menu1.png);
    background-repeat: no-repeat;    
    background-size: contain;
    height: 50px;
    width: 40px;
    display: none;
}
#navmedia{
    display: block;
}

a{
    
    text-decoration: none;
    font-weight: bold;
    color: rgb(30,26,85);
    /* text-shadow: 0 0 1px  rgb(52,195,199); */
    letter-spacing: 0.1rem;
}

a:hover{
    text-decoration: underline;
    
}

@media all and (max-width:650px){

    /* .navmedia{
        display: none;
    } */
    .navbar{
        flex-flow: row;
    }
    .navbar ul li{
        display: flex;
        flex-direction: row;
        margin-left: 5%;
    }
    nav{
        position: absolute;
        top: 5rem;
        right: 0;
    }
    
    
    .logo{
        position: absolute;
        top: 2rem;        
    }
    .btn{
        margin-right: 1rem;
    }

    #Menu{
        display: block;
        position: absolute;
        top: 2.5rem;
        right: 3rem;
    }
}