<div class="container" id="Experiance">

    <div class="educontainer">
        <h1>EDUCATION</h1>
    <div class="card">
        
        <div *ngFor="let rec of Education" class="loop">
            <div class="round"></div>
            <div class="content">                
                <div class="YEAR"><h3><span><img src="../../assets/Experiance_Projects/calendar.png" alt="" width="15px" height="15px"></span>  &nbsp;{{rec.year}}</h3></div>
                <div class="degree"> <h4>{{rec.degree}}</h4> </div>
                <div class="about"> {{rec.about}} </div>
            </div>
        </div>
    
    </div>
    <h1>EXPERIANCE</h1>
    <div class="card">
        
        <div *ngFor="let rec of Experiance" >
            <div class="round"></div>
            <div class="content">
                <div class="YEAR"><h3><span><img src="../../assets/Experiance_Projects/calendar.png" alt="" width="15px" height="15px"></span>  &nbsp;{{rec.year}}</h3></div>
                <div class="role"><h4>{{rec.role}}</h4></div>
                <div class="about">{{rec.about}}</div>
            </div>
        </div>
    </div>
    
    </div>

    <div class="projectcontainer">
        <div class="main">
            <h1 class="myproject">My Projects</h1>
            <div class="outerloop">
                <div  *ngFor="let projectitem of Projects" class="loop">                                      
                    <div class="projectcontent">
                        <img src="{{projectitem.image}}" alt=" Project image" class="projectimage" width="280px" height="250px">
                        <div class="textcontent">
                            <div class="desc"><h2 class="projectname">{{projectitem.Title}} </h2></div>
                            <div class="desc"><span class="pdesc ">{{projectitem.Description}}</span></div>
                            <div class="desc"><a href={{projectitem.Projectlink}} class="projectlink" target="_blank"><button class="projectlinkbtn">Take me there</button></a></div>
                        </div>  
                    </div>               
            </div>
            </div>
           
            
        </div>
    </div>

</div>