.main{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    box-sizing: border-box;
    padding-left: 8%;
    padding-right: 8%; 
}

hr{
    border: 2px solid none;
}

 @media all and (max-width : 655px){
    .main{
        display: flex;
        flex-direction: column;        
        padding-left: 1rem;
    }
}