.main{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

@media all and (max-width : 655px){
    .main{
        display: flex;
        flex-direction: column;
        gap: 23rem;
    }
}