.main{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    box-sizing: border-box;
    padding-left: 8%;
    padding-right: 8%; 
}


@media all and (max-width : 655px){
    .main{
        display: flex;
        flex-direction: column;
        gap: 23rem;
    }
}