<h1 class="Experiance">Experiance</h1>

<div class="timeline">
    <div class="container left">
      <div class="content">
        <h2 class="designation">Application Development Analyst</h2>
        <div class="desc">
            <h3>Accenture Solutions Pvt. Ltd.</h3>
            <h3>2023 - 2024</h3>
        </div>
        <p>Led the <strong>design and development of complex applications</strong> using C#, .NET Core, PL/SQL, and Agile methodologies, 
            creating comprehensive RESTful APIs with .NET Web API, Entity Framework, and Angular. <strong>Automated data processing</strong> with 
            S3 Bucket and Windows Service, achieving 97% efficiency and reducing manual workload by 88%. Optimized API performance 
            and <strong>reduced query execution time by 30% </strong>through data structures and stored procedures. 
            Recognized with the <strong>"Star of the Month"</strong> and <strong>"Accenture Celebrates Excellence"</strong> awards for exceptional leadership, 
            communication, and achieving annual savings of over 320 man-hours.</p>
      </div>
    </div>
    <div class="container right">
      <div class="content">
        <h2 class="designation">Application Development Associate</h2>
        <div class="desc">
            <h3>Accenture Solutions Pvt. Ltd.</h3>
            <h3>2021 - 2023</h3>
        </div>
        <p>Developed, tested, and documented over 4+ software applications, adhering to coding standards and methodologies. 
        <strong>Built 50+ scalable APIs</strong>, improving project functionality. Automated tools to <strong>save 200+ hours annually</strong>, reducing manual workload by 95%.
    <strong>Mentored 3 junior engineers</strong>, enhancing team skills and cohesion, and collaborated across teams to deliver project modules and 
             resolve issues effectively.</p>
      </div>
    </div>
    <div class="container left">
      <div class="content">
        <h2 class="designation">Bachelor of Engineering - CSE</h2>
        <div class="desc">
            <h3>Sri Sariram Engineering College</h3>
            <h3>2017 - 2021</h3>
        </div>
        <p>During my Bachelor of Engineering in Computer Science, I built a <strong>solid foundation in programming languages</strong> and
            software development, gaining practical experience in <strong>algorithms, data structures, and database management</strong>.
            I worked on projects involving web and mobile applications, applying<strong> agile methodologies and software engineering</strong> best
            practices. This experience prepared me for a successful career in software development.</p>
      </div>
    </div>
    <div class="container right">
      <div class="content">
        <h2 class="designation">Higher Secondary</h2>
        <div class="desc">
            <h3>Biology-Maths</h3>
            <h3>2015 - 2016</h3>
        </div>
        <p>Successfully completed my 12th standard & obtained Higher Secondary Certificate with <strong>85% in both Biology and Mathematics.</strong></p>
      </div>
    </div>
    <div class="container left">
      <div class="content">
        <h2 class="designation">Secondary School Leaving Certificate</h2>
        <div class="desc">
            <h3>SSLC - 10th</h3>
            <h3>2014 - 2015</h3>
        </div>
        <p>Successfully completed my 10th standard & obtained Secondary School Leaving Certificate with <strong>94%.</strong></p>
      </div>
    </div>
    
</div>
  