<div class="main">
    
    <hr>   
    <div class="btmfooter">
        <div class="rights"><h4>2023-Resume | Rishwanth Ravi </h4></div>
        <div class="leftcontent">
            <div><h4>CONTACT : +91 6381857561 &nbsp; | </h4></div>
            <div><span><a href="mailto:reach.rishwanthravi2gmail.com"><img class="emailicon" src="../../assets/Footer/email.png" alt="emailicon" width="30px" height="35px"></a></span> <span><a href="#navmedia"><img class="top" src ="../../assets/Footer/up-arrow.png" alt="TOP" width="35px" height="35px"></a></span>  </div>
        </div>
    </div>
</div>