.main{
    display: flex;
    flex-direction: column;
    justify-content: center;    
    align-items: center;
}

.container{
    border-radius: 15rem;
    height: 16.5rem;
    width: 20%;
    padding: 3rem;
    border: dashed rgb(62, 173, 173);
    display: flex;    
    text-align: center;
    align-items: center;
    justify-content: center;
}

hr{
    border: solid rgb(0,140,140) 1px;
    width: 100%;
}