<div class="container">

    <div class="mainbody">
        <div class="hero">
            <div class="name">
                <h1>Hi, I'm Rishwanth Ravi</h1>
                <div class="outer-headings">                    
                    <div class="inner-headings">
                        <span>
                          UI/UX Designer <br />
                          Front-End Developer <br />
                          Back-End Developer <br />
                          Full-Stack Developer <br />
                        </span>
                    </div>                    
                </div>
                <div class="alterrole">
                    <h2>A Developer</h2>
                </div>
            </div>
    
            <div class="about">
                Lorem ipsum dolor sit amet consectetur adipisicing edivt. Harum,<br> labore. Beatae modi, expdivcabo veritatis nostrum repellat quasi nemo<br> eveniet debitis exercitationem inventore! Iure magnam dolor deleniti corrupti corporis.    
            </div>
            
            <div class="sociallinks">
                <p>FIND WITH ME</p>
                <div class="flexi">
                    <div class="linkedin"></div>
                    <div class="git"></div>
                    <div class="insta"></div>            
                </div>
            </div>        
        </div>
        <div class="bodyimg"></div>
    </div>
    
    <br><br><hr class="Line"><br>
    <div class="Skillheader"><H1>My Skills</H1></div>
    <div  class="Skills container" >
        <div *ngFor = "let detail of details">
            <app-skills [SkillImg] = detail></app-skills>
        </div>
    </div>
    <br><br><hr class="Line"><br>

    <div class="Contact">
        <app-contact></app-contact>
    </div>
    
</div>