<div class="container">

    <div class="innercontainer">
        <div class="mainbody" id="about">
        
            <div class="hero">
                <div class="name">
                    <h1 >Hi, I'm <span class="intro">Rishwanth Ravi</span></h1>
                    <div class="outer-headings">                    
                        <div class="inner-headings">
                            <span>
                              Software Engineer <br/>
                              Angular Developer <br/>
                              .NET Developer <br/>
                              Gamer<br/>
                            </span>
                        </div>                    
                    </div>
                    <div class="alterrole">
                        <h2>A Developer</h2>
                    </div>
                </div>    
                <div class="about">
                    <p class="selfdesc"> &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;An Impassioned <span class="bullet">Associate Software Engineer</span> with a proven track record of <span class="bullet">2 years</span> in development, I am poised to elevate my expertise to the realm of  <span class="bullet">Full-Stack Engineering.</span> I am now <span class="bullet">embarking a journey</span> to <span class="bullet">join a prestigious company</span>, where I can <span class="bullet">embrace higher challenges</span> and expand my skill set. My journey is characterized by a thirst for knowledge, and an eagerness to master the intricate balance between front-end artistry and back-end intricacies.
                    </p>
                </div>
                <div class="interactive">
                    <div class="sociallinks">
                        <p>FIND WITH ME</p>
                        <div class="flexi">
                            <a href="https://www.linkedin.com/in/rishi1608/" target="_blank"><div class="linkedin"></div></a>
                            <a href="https://github.com/Rishikathron" target="_blank"><div class="git"></div></a>
                            <a href="https://www.instagram.com/this_is_rishi_0116/" target="_blank"><div class="insta"></div></a>           
                        </div>                
                    </div>
                    <div class="CV"><a href="../../assets/Resume/RISHWANTH_RAVI_RESUME.pdf" target="_blank"><button class="btn">DOWNLOAD CV</button></a></div>                 
                </div> 
            </div>
    
            <div class="bodyimg"><img src="../../assets/SkillComponentImages/computer.png" alt="" height="450px" ></div>
    
        </div>
    </div>
    
    <br><br><hr class="Line"><br>

    <div class="skillcontainer">
        <div class="Skillheader"><H1>My Skills</H1></div>
        <div  class="Skills container1" >
            <div *ngFor = "let detail of details">
                <app-skills [SkillImg] = detail></app-skills>
            </div>
        </div>
    </div>
    

</div>