.mainbody{
  display: flex;    
  gap: 7rem;  
  margin: 1rem;  
}
.innercontainer{
  display: flex;  
  justify-content: center;
  align-items: center;
}

.hero{
    display: flex;
    flex-direction: column;
    margin-top: 5rem;
}


/* ----------dev animation---------- */

  .alterrole{
    display: none;
  }
  
  h1 {
    font-size: 45px;
    margin: 0;
  }  
  
  .inner-headings {   
    margin-bottom: 0;
    margin-top: 0.5rem;
    height: 50px;
    line-height: 50px;
    font-size: 45px;
    text-transform: uppercase;
    overflow: hidden;
  }
  
  .inner-headings span {
    position: relative;
    color:rgba(17, 112, 114, 0.821);
    /* color: rgb(100,90,223); */
    font-weight: bold;
    /* text-shadow: 0 0 2px rgb(144,140,206); */
    animation: animation 10s ease infinite;
  }
  
  @keyframes animation {
    0%,
    100% {
      top: 0;
    }
    20% {
      top: 0;
    }
    25% {
      top: -50px;
    }
    45% {
      top: -50px;
    }
    50% {
      top: -100px;
    }
    70% {
      top: -100px;
    }
    75% {
      top: -150px;
    }
    95% {
      top: -150px;
    }
  }
/* ----------dev animation---------- */
  @media (max-width:720px){
    .outer-headings {    
      display:  none;      
    }
    .alterrole{
      display: block;
    }
  }


/* --------------- */
.intro{
  margin-bottom: 0;
  color:  black;
  
}
.about{
  margin-top: 1rem;
  font-size: large;
}
.selfdesc{

}

.bullet{
  color: rgb(30,26,86);
  font-weight: bold;
}

.flexi {
    list-style: none;
    display: flex;
    flex-direction: column;
    margin-right: 1rem;
    margin-top: 0.3%;
    
}
.flexi{    
    display: grid;
    grid-template-columns: 2rem 2rem 2rem;
    gap: 1rem;    

}

.linkedin{
  cursor: pointer;
    background-image: url("./BodyImages/Linkedin.png");
    background-size: contain;
    background-repeat: no-repeat; 
    height: 35px; 
      
}

.git{
  cursor: pointer;
    background-image: url("./BodyImages/GIT.png");
    background-size: contain;
    background-repeat: no-repeat; 
    height: 35px;   
}

.insta{
    background-image: url("./BodyImages/icons8-instagram-48.png");
    background-size: contain;
    background-repeat: no-repeat; 
    height: 35px; 
    cursor: pointer; 
}

.CV{
  margin-top: 1.5rem;
  margin-left: 3rem;
}

.btn{
  padding : 1rem;
  border-radius: 15px;
  background-color:rgb(126,127,216);
  color: white; 
  font-weight: bold;
  border: none;
  letter-spacing: 3px;
  box-shadow:  0 4px 8px 0 rgba(52, 194, 199, 0.318), 0 6px 20px 0 rgba(0, 0, 0, 0.059);
  cursor: pointer;
}

.btn:hover{
  color: rgb(126,127,216);
  background-color: white;
  transition: 0.4s;
}

.interactive{
  margin-top: 1.5rem;
  display: flex;
  flex-direction: row;
}



.bodyimg{  
  display: flex; 
    background-repeat: no-repeat;
    background-size: contain;   
}

@media all and (max-width:1022px){
    .container{
       text-align: center;
       justify-content: center;
       margin: 0;
    }

    .mainbody{
        display: flex;
        flex-direction: column-reverse;
        gap:2rem
    }
    .interactive{
      display: flex;
      flex-flow: row;
      align-items: center;
      justify-content: center;
    }
    .flexi{
        justify-content: center;
        text-align: center;
        margin-left: 6%;
    }
}


/* -----------------------skills Section----------- */

.Line{
  width: 100%;
}

.skillcontainer{
  display: flex;
  align-items: center;
  text-align: center;
  flex-flow: column;
}

.Skills{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    flex : 0 0 33.333333%
} 

.container1{
    margin: 2rem;
}

.Skillheader{
    display: flex;
    justify-content: center;
    font-size: x-large;
    color:  rgba(37, 34, 90, 0.804);
    /*text-shadow: 0 0 1px  rgb(52,195,199);*/    
}


