
.hero{
    display: flex;
    flex-direction: column;
    margin-top: 5rem;
}

ul li {
    list-style: none;
}

/* ----------dev animation---------- */

  .alterrole{
    display: none;
  }
  
  h1 {
    font-size: 45px;
  }  
  
  .inner-headings {   
    margin-bottom: 0;
    margin-top: 0.5rem;
    height: 50px;
    line-height: 50px;
    font-size: 45px;
    text-transform: uppercase;
    overflow: hidden;
  }
  
  .inner-headings span {
    position: relative;
    color:rgba(17, 112, 114, 0.821);
    /* color: rgb(100,90,223); */
    font-weight: bold;
    /* text-shadow: 0 0 2px rgb(144,140,206); */
    animation: animation 10s ease infinite;
  }
  
  @keyframes animation {
    0%,
    100% {
      top: 0;
    }
    20% {
      top: 0;
    }
    25% {
      top: -50px;
    }
    45% {
      top: -50px;
    }
    50% {
      top: -100px;
    }
    70% {
      top: -100px;
    }
    75% {
      top: -150px;
    }
    95% {
      top: -150px;
    }
  }
  @media (max-width:720px){
    .outer-headings {    
      display:  none;      
    }
    .alterrole{
      display: block;
    }
  }
/* --------------- */
.intro{
  margin-bottom: 0;
  color:  black;
  
}
.about{
  margin-top: 1rem;
}
.flexi {
    list-style: none;
    display: flex;
    flex-direction: column;
    margin-right: 1rem;
    margin-top: 0.3%;
    
}



.flexi{    
    display: grid;
    grid-template-columns: 2rem 2rem 2rem;
    gap: 1rem; 
    

}

.linkedin{
  cursor: pointer;
    background-image: url("./BodyImages/Linkedin.png");
    background-size: contain;
    background-repeat: no-repeat; 
    height: 35px; 
      
}

.git{
  cursor: pointer;
    background-image: url("./BodyImages/GIT.png");
    background-size: contain;
    background-repeat: no-repeat; 
    height: 35px;   
}

.insta{
    background-image: url("./BodyImages/icons8-instagram-48.png");
    background-size: contain;
    background-repeat: no-repeat; 
    height: 35px; 
    cursor: pointer; 
}

.CV{
  margin-top: 1.5rem;
  margin-left: 3rem;
}

.btn{
  padding : 1rem;
  border-radius: 15px;
  background-color:rgb(126,127,216);
  color: white; 
  font-weight: bold;
  border: none;
  letter-spacing: 3px;
  box-shadow:  0 4px 8px 0 rgba(52, 194, 199, 0.318), 0 6px 20px 0 rgba(0, 0, 0, 0.059);
  cursor: pointer;
}

.btn:hover{
  color: rgb(126,127,216);
  background-color: white;
  transition: 0.4s;
}

.interactive{
  margin-top: 1.5rem;
  display: flex;
  flex-direction: row;
}
.mainbody{
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 5rem;
    
}


.bodyimg{
    background-image: url("../../assets/SkillComponentImages/computer.png");
    background-repeat: no-repeat;
    background-size: contain;
    height: 450px;    
    transform: perspective(300px) rotateX(0deg) rotateY(0deg);
}

@media all and (max-width:1022px){
    .container{
       text-align: center;
       justify-content: center;
    }
    .mainbody{
        display: flex;
        flex-direction: column-reverse;
        gap:2rem
    }
    .bodyimg{
        background-image: url("./BodyImages/profileimg.png");
        background-repeat: no-repeat;
        background-size: contain;
        height: 300px;
        display: flex;
        position: relative;
        left: 35%;
        align-items: center;
    }
    .flexi{
        justify-content: center;
        text-align: center;
        margin-left: 6%;
    }
}

@media (max-width:780px){
    .bodyimg{
        background-image: url("./BodyImages/profileimg.png");
        background-repeat: no-repeat;
        background-size: contain;
        height: 300px;
        display: flex;
        position: relative;
        left: 25%;
        align-items: center;
    }
}

.Skills{
    display: flex;
    flex-wrap: wrap;
    flex : 0 0 33.333333%
} 


.container{
    margin: 2rem;
}

.Skillheader{
    display: flex;
    justify-content: center;
    font-size: x-large;
    color:  rgba(17, 112, 114, 0.821);;
    /* text-shadow: 0 0 1px  rgb(52,195,199); */
    
}