<div class="myskills"><h1>My Skills</h1></div>

<div class="skillContainer">

    
  <div class="skill-bars">
    <h2>Frontend</h2>
    <div class="bar">
      <div class="info">
        <span>HTML</span>
      </div>
      <div class="progress-line html">
        <span></span>
      </div>
    </div>
    <div class="bar">
      <div class="info">
        <span>CSS</span>
      </div>
      <div class="progress-line css">
        <span></span>
      </div>
    </div>
    <div class="bar">
      <div class="info">
        <span>Angular</span>
      </div>
      <div class="progress-line jquery">
        <span></span>
      </div>
    </div>
    <div class="bar">
      <div class="info">
        <span>JavaScript</span>
      </div>
      <div class="progress-line python">
        <span></span>
      </div>
    </div>
    <div class="bar">
      <div class="info">
        <span>React</span>
      </div>
      <div class="progress-line mysql">
        <span></span>
      </div>
    </div>
  </div>
<!-- -------------------------------------------------- -->
  <div class="skill-bars">
    <h2>Backend</h2>
    <div class="bar">
      <div class="info">
        <span>.NET Core</span>
      </div>
      <div class="progress-line NET">
        <span></span>
      </div>
    </div>
    <div class="bar">
      <div class="info">
        <span>Python</span>
      </div>
      <div class="progress-line Python1">
        <span></span>
      </div>
    </div>
    <div class="bar">
      <div class="info">
        <span>C#</span>
      </div>
      <div class="progress-line chash">
        <span></span>
      </div>
    </div>
    <div class="bar">
      <div class="info">
        <span>PLSql / StoredProcedures </span>
      </div>
      <div class="progress-line plsql">
        <span></span>
      </div>
    </div>
    <div class="bar">
      <div class="info">
        <span>Entity Framework</span>
      </div>
      <div class="progress-line efcore">
        <span></span>
      </div>
      
      
    </div>
  </div>

  <!-- -------------------------------------------------- -->

  <div class="skill-bars">
    <h2>Others</h2>
    <div class="bar">
      <div class="info">
        <span>Git / Tfs / GitHub</span>
      </div>
      <div class="progress-line Git">
        <span></span>
      </div>
    </div>
    <div class="bar">
      <div class="info">
        <span>Visual Studio</span>
      </div>
      <div class="progress-line vstudio">
        <span></span>
      </div>
    </div>
    <div class="bar">
      <div class="info">
        <span>DSA & Problem Solving</span>
      </div>
      <div class="progress-line dsa">
        <span></span>
      </div>
    </div>
    <div class="bar">
      <div class="info">
        <span>Postman</span>
      </div>
      <div class="progress-line postman">
        <span></span>
      </div>
    </div>
    <div class="bar">
      <div class="info">
        <span>LINQ</span>
      </div>
      <div class="progress-line linq">
        <span></span>
      </div>
    </div>
    <div class="bar">
      <div class="info">
        <span>Analysis & Optimisation</span>
      </div>
      <div class="progress-line analysis">
        <span></span>
      </div>
    </div>
  </div>

</div>
