.container{
    margin: 1rem; 
    display: flex;        
    flex-flow: column;
    align-items: center;
}


.flexcontainer{
    display: flex;
    flex-flow: row;
    gap: 2rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 1rem;
    padding: 2rem;    
    justify-content: center;
}

                                    /* ---------------Card----------------- */
.card{
    display: flex;
    flex-flow: column;
    gap: 0.5rem;  
    background-color: white;
    padding: 1rem; 
    border-radius: 1rem; 
    width:35%;
    box-shadow: 0 4px 8px 0 rgba(52, 194, 199, 0.318), 0 6px 20px 0 rgba(0, 0, 0, 0.059);
}

.connectimg{
    background-size: contain;
    background-repeat: no-repeat;    
    display: flex;     
    justify-content: center;
    align-items: center;   
}

.img_conn{
    border-radius:30px;
    overflow:hidden;    
}

.About{
    padding: 0;
    margin: 0;
    display: block;
}

.findmeimgs{    
    display: grid;
    grid-template-columns: 2rem 2rem 2rem;
    gap: 1rem;    
}

.linkedin{
    background-image: url("../BodyImages/Linkedin.png");
    background-size: contain;
    background-repeat: no-repeat; 
    height: 35px;       
}

.git{
    background-image: url("../BodyImages/GIT.png");
    background-size: contain;
    background-repeat: no-repeat; 
    height: 35px;   
}

.insta{
    background-image: url("../BodyImages/icons8-instagram-48.png");
    background-size: contain;
    background-repeat: no-repeat; 
    height: 35px;  
}

@media (max-width:1099px){
    .container{
        display: flex;        
        flex-flow: column;
        align-items: center;
    }   
    
    .About{                
        text-align: left;
    }
    
}

@media (max-width:925px){
    .container{
        margin-left: 4rem;
    }
    .card{   
        width: fit-content;     
        gap: 0.5rem;  
        background-color: white;
        padding: 1rem; 
        border-radius: 1rem;         
        box-shadow: 0 4px 8px 0 rgba(52, 194, 199, 0.318), 0 6px 20px 0 rgba(0, 0, 0, 0.059);
    }
    .flexcontainer{
        display: flex;
        flex-flow: column; 
    }
}

                            /*--------------------- forms ------------------------*/
.forms{
    width: 50%;
    background-color: white;
    display: flex;
    padding: 1rem;
    margin-left: 2rem;
    border-radius: 1rem;
    box-shadow: 0 4px 8px 0 rgba(52, 194, 199, 0.318), 0 6px 20px 0 rgba(0, 0, 0, 0.059);
}
.formcontainer{
    width: 100%;
    display: flex;
    gap: 3rem;
    flex-direction: column;
    overflow: hidden;
    padding: 1rem;
}
.row1{
    display: flex;
    gap: 1rem;
}
.userinput{
    display: flex;
    flex-direction: column;
}

/* -----------------form styles-------------------- */
label{
    text-align: start;
    font-weight: bold;
    
    
}

input{
   height: 1.5rem; 
   border-radius: 5px;
   border-color: whitesmoke;
   background-color: white;
   border-color: rgb(52,195,199);
}

.yourmessage{
    height: 6rem;
    border: 3px solid  rgb(52,195,199);
    border-radius: 5px;
    background-color: white;    
}

.sendbtn{
    width: 100%;
    height: 2.2rem;
    font-weight: bold;
    background-color: rgb(206,240,240);
    border-radius: 0.5rem;
    border-color: rgb(52,195,199);
}



@media (max-width:925px){
    .forms{        
        background-color: white;        
        padding: 1rem;        
        border-radius: 1rem;
        width: fit-content; 
        margin-left: 0;
        box-shadow: 0 4px 8px 0 rgba(52, 194, 199, 0.318), 0 6px 20px 0 rgba(0, 0, 0, 0.059);
    }  
    
    
}


@media all and (max-width : 450px){
    .container{
        padding : 5rem;
        margin: 5rem;
        margin-top: 0rem;
    }
}