.flexcontainer{
    display: flex;
    flex-flow: row;
    gap: 2rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 1rem;
    padding: 2rem;
    overflow: hidden;
    justify-content: center;
}

.card{
    display: flex;
    flex-flow: column;
    gap: 0.5rem;  
    background-color: aliceblue;
    padding: 1rem; 
    border-radius: 1rem; 
    width: 30%;
}

.connectimg{
    background-size: contain;
    background-repeat: no-repeat;    
    display: flex;     
    justify-content: center;
    align-items: center;   
}

.img_conn{
    border-radius:30px;
    overflow:hidden;
    
}

.About{
    padding: 0;
    margin: 0;
    display: block;
}

.findmeimgs{    
    display: grid;
    grid-template-columns: 2rem 2rem 2rem;
    gap: 1rem;    
}

.linkedin{
    background-image: url("../BodyImages/Linkedin.png");
    background-size: contain;
    background-repeat: no-repeat; 
    height: 35px;       
}

.git{
    background-image: url("../BodyImages/GIT.png");
    background-size: contain;
    background-repeat: no-repeat; 
    height: 35px;   
}

.insta{
    background-image: url("../BodyImages/icons8-instagram-48.png");
    background-size: contain;
    background-repeat: no-repeat; 
    height: 35px;  
}

/* forms */

.forms{
    width: 50%;
    background-color: antiquewhite;
    display: flex;
    padding: 1rem;
    margin-left: 2rem;
    border-radius: 1rem;
}
.formcontainer{
    display: flex;
    gap: 3rem;
    flex-direction: column;
    overflow: hidden;
}
.row1{
    display: flex;
    gap: 1rem;
}
.userinput{
    display: flex;
    flex-direction: column;
}