<div class="container">
    <div class="contactheader"><h1> Drop a Line </h1></div>
    <div class="flexcontainer">
        <div class="card">
            <div class="connectimg"><img class="img_conn" src="../../../assets/Connect/Connect.jpeg" alt="Lets Connect..." width="320px" height="180px"></div>
            
            <div class="About">
                <h2>Rishwanth Ravi</h2>
                <p>Application Development Associate</p>
                <p>A developer constantly looking for upgrading my skills and make projects out of it.</p>
                <p>Phone : <span class="Content">+91 6381857561</span></p>
                <p>Email : <span class="Content">reach.rishwanthravi@gmail.com</span></p>
            </div>
            <div class="findme">
                <p>FIND WITH ME</p>
                <div class="findmeimgs">
                    <div class="linkedin"></div>
                    <div class="git"></div>
                    <div class="insta"></div>
                </div>                
            </div>
        </div>
        <div class="forms">
            <div class="formcontainer">
                <div class="row1">
                    <div class="userinput">
                        <label id="Name"> YOUR NAME</label>
                        <input type="text">
                    </div>
                    <div class="userinput">
                        <label id="Number">PHONE NUMBER</label>
                        <input type="text">
                    </div>
                </div>
                <div class="row2">
                    <div class="userinput">
                        <label id="Email"> EMAIL</label>
                        <input type="email">
                    </div>
                </div>
                <div class="row3">
                    <div class="userinput">
                        <label id="SUBJECT"> SUBJECT</label>
                        <input type="email">
                    </div>
                </div>
                <div class="row4">
                    <div class="userinput">
                        <label id="MESSAGEBOX"> YOUR MESSAGE</label>
                        <textarea type="text" class="yourmessage" ></textarea>
                    </div>
                </div>
                <div class="sendbtndiv"><button class="sendbtn">SEND MESSAGE</button></div>
            </div>
        </div>
    </div>    
</div>